{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.title'|trans }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h1 class="h4 mb-0">{{ 'registration.header'|trans }}</h1>
            </div>
            <div class="card-body p-4">
                {{ form_start(registrationForm) }}
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.username) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-8">
                        {{ form_row(registrationForm.street) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(registrationForm.houseNumber) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(registrationForm.boxNumber) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ form_row(registrationForm.postalCode) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(registrationForm.city) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(registrationForm.country) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.phoneNumber) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.locale) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.plainPassword.second) }}
                    </div>
                </div>
                
                <div class="mb-3 form-check">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                    <label for="{{ registrationForm.agreeTerms.vars.id }}" class="form-check-label">
                        J'accepte les <a href="{{ path('app_terms') }}" class="text-decoration-none" target="_blank">conditions d'utilisation</a>
                    </label>
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <div class="alert alert-info">
                    <i class="fas fa-info-circle me-2"></i>
                    {{ 'registration.info_approval'|trans }}
                </div>
                
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-gradient">{{ 'registration.register'|trans }}</button>
                </div>
                {{ form_end(registrationForm, {'render_rest': false}) }}
            </div>
            <div class="card-footer text-center py-3">
                <div class="text-muted">
                    {{ 'registration.already_account'|trans }} 
                    <a href="{{ path('app_login') }}" class="text-decoration-none">{{ 'registration.login'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}