{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.request.title'|trans }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h1 class="h4 mb-0">{{ 'reset_password.request.header'|trans }}</h1>
            </div>
            <div class="card-body p-4">
                {{ form_start(requestForm) }}
                    <div class="mb-3">
                        <p class="mb-3">{{ 'reset_password.request.info'|trans }}</p>
                        {{ form_row(requestForm.email) }}
                    </div>
                
                    <div class="d-grid gap-2">
                        <button class="btn btn-gradient">{{ 'reset_password.request.submit'|trans }}</button>
                    </div>
                {{ form_end(requestForm) }}
            </div>
            <div class="card-footer text-center py-3">
                <div class="text-muted">
                    <a href="{{ path('app_login') }}" class="text-decoration-none">
                        <i class="fas fa-arrow-left me-1"></i> {{ 'reset_password.request.back_to_login'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
